body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Flexbox centering */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 200px;

}

.survey-instructions {
    margin-bottom: 20px;
}

#survey-question {
    padding-top: 20px;
}

/* Flash messages styling */


.message {
    background-color: #ffdddd;
    color: #a00;
    padding: 5px;
    border: 1px solid #a00;
    border-radius: 5px;
    max-width: 200px;
    text-align: center;
    margin: auto;

}



button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 20px;

    &:hover {
        background-color: #06509f;
    }

}