<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Survey</title>
    <link rel="stylesheet" href="/static/app.css">
</head>

<body>
    <div class="container">

        {% for message in get_flashed_messages() %}
        <p class="message">{{ message }}</p>
        {% endfor %}



        {% block content %}
        {% endblock %}
    </div>
</body>

</html>